.emoji-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border: 1px solid #ffffff30;
  border-radius: 20px;
  background-color: #ffffff30;
  margin: 10px;
  cursor: pointer;
  outline: none;
}
.emoji-image {
  height: 80px;
}
